.header {
    color: green;
    display: flex;
    flex-direction: row;

}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    width: 300px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}
